# Python
__pycache__/
*.pyc
*.pyo
*.pyd

# Virtual environments
.venv/
venv/

# IDE
.idea/
.vscode/

# Git
.git/
.gitignore

# OS
.DS_Store

# Jupyter
*.ipynb

# Models (we handle explicitly)
models/extractor/SAM/

# Caches
.cache/
